﻿<nav class="navbar navbar-expand-lg navbar-light px-4 px-lg-5 py-3 py-lg-0" style="background:#FFFFFF;">
    <a href="/Index" class="navbar-brand p-0">

        <img src="~/images/logo/testLogo.png" alt="Logo" width="90px;">
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
        <span class="fa fa-bars"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
        <div class="navbar-nav mx-auto py-0">
            <a href="/Index" class="nav-item nav-link" id="home-menu-big-screen">Home</a>
            <a href="~/Website/About/History" class="nav-item nav-link" id="history-menu-small-screen">About</a>
          @*   <div class="nav-item dropdown">
                <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown"
                   id="about-menu-big-screen">About</a>
                <div class="dropdown-menu m-0">
                    <a href="~/Website/About/History" class="dropdown-item" id="history-menu-small-screen">History</a>
                    <a href="~/Website/About/Mission" class="dropdown-item" id="mission-menu-small-screen">
                        Mission and
                        Vision
                    </a>
                    <a href="~/Website/Team/TeamList" class="dropdown-item" id="team-menu-small-screen">Our Team</a>

                </div>
            </div> *@
            <a href="~/Website/Product/Product" class="nav-item nav-link" id="project-menu-big-screen">Portfolio</a>
          @*   <a href="~/Website/Resources/Gallery" class="nav-item nav-link" id="gallery-menu-small-screen">Gallery</a> *@

        @*     <div class="nav-item dropdown">
                <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown"
                   id="career-menu-big-screen">Career</a>
                <div class="dropdown-menu m-0">
                    <a href="~/Website/Career/JobCircular" class="dropdown-item" id="career-menu-small-screen">
                        Current
                        Vacancies
                    </a>
                    <a href="~/Website/Career/DropResume" class="dropdown-item" id="resume-menu-small-screen">
                        Drop
                        Resume
                    </a>
                </div>
            </div> *@

            <a href="~/Website/Contact/ContactUs" class="nav-item nav-link" id="contact-menu-big-screen">Contact</a>
        </div>

    </div>
</nav>