@page
@model myportfolio.Pages.Admin.Achievement.EditModel

@{
    ViewData["Title"] = "Achievement | Edit";
}

<link href="~/css/imageUpload.css" rel="stylesheet" />


<div class="content-wrapper">
    <section class="content pt-3">
        <div class="container-fluid">
            <div class="row justify-content-center">
                <div class="col-md-12">
                    <!-- general form elements -->
                    <div class="card card-info">
                        <div class="card-header">
                            <h3 class="card-title">Achievement</h3>
                        </div>
                        <form method="post" enctype="multipart/form-data">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <input type="hidden" asp-for="RequestAchievement.Id" />
                            <input type="hidden" asp-for="RequestAchievement.Key" />
                            <input type="hidden" asp-for="RequestAchievement.CreatedAt" />
                            <input type="hidden" asp-for="RequestAchievement.CreatedBy" />
                            <input type="hidden" asp-for="RequestAchievement.FilePath" id="filePath" />
                            <input type="hidden" asp-for="RequestAchievement.FileType" />



                            <div class="card-body">
                                <div class="col-md-6">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <label asp-for="RequestAchievement.FileName">
                                                    Achievement Title
                                                    <span class="text-danger">*</span>
                                                </label>
                                                <input asp-for="RequestAchievement.FileName" type="text" class="form-control" placeholder="Enter Achievement Title" />
                                                <span asp-validation-for="RequestAchievement.FileName" class="text-danger"></span>
                                            </div>
                                        </div>

                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <label asp-for="RequestAchievement.Achieved">
                                                    Publish Date
                                                    <span class="text-danger">*</span>
                                                </label>
                                                <input asp-for="RequestAchievement.Achieved" type="text" class="form-control date" required placeholder="Enter Achieved Date" />
                                                <span asp-validation-for="RequestAchievement.Achieved" class="text-danger"></span>
                                            </div>

                                        </div>

                                    </div>

                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group">

                                                <label asp-for="RequestAchievement.File">
                                                    Achievement Image
                                                    <span class="text-danger">*</span>
                                                </label>

                                                <div class="container">
                                                    <div class="wrapper-two">
                                                        <div class="image">
                                                        </div>
                                                        <div class="content">
                                                            <div class="icon">
                                                                <i class="fas fa-cloud-upload-alt"></i>
                                                            </div>
                                                            <div class="text">
                                                                No file chosen, yet!
                                                            </div>
                                                        </div>
                                                        <div id="cancel-btn">
                                                            <i class="fas fa-times"></i>
                                                        </div>
                                                        <div class="file-name">
                                                            File name here
                                                        </div>
                                                    </div>
                                                    <button type="button" onclick="defaultBtnActive()" id="custom-choose-file-btn">Choose a file</button>
                                                    <input id="default-btn" type="file" asp-for="RequestAchievement.File" style="opacity: 0;">
                                                </div>
                                                <br />

                                                <span asp-validation-for="RequestAchievement.File" class="text-danger"></span>


                                            </div>
                                        </div>

                                    </div>

                                </div>


                            </div>




                            <div class="card-footer">
                                <a class="btn btn-outline-info" asp-page="/Admin/Achievement/Index">Back</a>
                                <button type="submit" class="btn btn-info float-right">Save</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- /.content -->
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script src="~/js/imageUpload.js"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            $("#menu-achievement").addClass("active-custom");
            $("#menu-about-us").addClass("menu-open");


        });</script>
}