@page
@model myportfolio.Pages.Admin.BGMEACircular.EditModel

@{
    ViewData["Title"] = "BGMEA Circular | Edit";
}



<div class="content-wrapper">
    <section class="content pt-3">
        <div class="container-fluid">
            <div class="row justify-content-center">
                <div class="col-md-12">
                    <!-- general form elements -->
                    <div class="card card-info">
                        <div class="card-header">
                            <h3 class="card-title">BGMEA Circular</h3>
                        </div>
                        <form method="post" enctype="multipart/form-data">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <input type="hidden" asp-for="RequestBgmeaCircular.Id" />
                            <input type="hidden" asp-for="RequestBgmeaCircular.Key" />
                            <input type="hidden" asp-for="RequestBgmeaCircular.CreatedAt" />
                            <input type="hidden" asp-for="RequestBgmeaCircular.CreatedBy" />
                            <input type="hidden" asp-for="RequestBgmeaCircular.FilePath" id="filePath" />
                            <input type="hidden" asp-for="RequestBgmeaCircular.FileType" />



                            <div class="card-body">



                                <div class="row">


                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label asp-for="RequestBgmeaCircular.FileName">
                                                Circular Title
                                                <span class="text-danger">*</span>
                                            </label>
                                            <input asp-for="RequestBgmeaCircular.FileName" type="text" class="form-control" required placeholder="Enter Circular Title" />
                                            <span asp-validation-for="RequestBgmeaCircular.FileName" class="text-danger"></span>
                                        </div>
                                    </div>

                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label asp-for="RequestBgmeaCircular.Language">
                                                Language
                                                <span class="text-danger">*</span>
                                            </label>


                                            <select class="form-control" asp-for="RequestBgmeaCircular.Language" required>
                                                <option value="">Select Language</option>
                                                <option value="Bangla">Bangla</option>
                                                <option value="English">English</option>

                                            </select>
                                            <span asp-validation-for="RequestBgmeaCircular.Language" class="text-danger"></span>
                                        </div>
                                    </div>


                                </div>

                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="exampleInputFile">File input  <span class="text-danger">*</span></label>
                                            <div class="input-group">
                                                <div class="custom-file">
                                                    <input type="file" class="custom-file-input" id="exampleInputFile" asp-for="RequestBgmeaCircular.File">
                                                    <label class="custom-file-label">Choose file</label>

                                                </div>

                                            </div>
                                            <span asp-validation-for="RequestBgmeaCircular.File" class="text-danger"></span>

                                        </div>
                                    </div>

                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label asp-for="RequestBgmeaCircular.PublishDate">
                                                Publish Date
                                                <span class="text-danger">*</span>
                                            </label>
                                            <input asp-for="RequestBgmeaCircular.PublishDate" type="text" class="form-control date" required placeholder="Enter Publish Date" />
                                            <span asp-validation-for="RequestBgmeaCircular.PublishDate" class="text-danger"></span>
                                        </div>
                                    </div>

                                </div>

                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label asp-for="RequestBgmeaCircular.CircularDetails">
                                                Circular Details
                                                <span class="text-danger">*</span>
                                            </label>

                                            <textarea class="form-control form-control-sm"
                                                      placeholder="Enter Circular Details"
                                                      required
                                                      id="job-qualifications"
                                                      rows="2" asp-for="RequestBgmeaCircular.CircularDetails"></textarea>
                                            <span asp-validation-for="RequestBgmeaCircular.CircularDetails" class="text-danger"></span>
                                        </div>
                                    </div>

                                </div>









                            </div>




                            <div class="card-footer">
                                <a class="btn btn-outline-info" asp-page="/Admin/BGMEACircular/Index">Back</a>
                                <button type="submit" class="btn btn-info float-right">Save</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- /.content -->
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}


    <script src="~/plugins/bs-custom-file-input/bs-custom-file-input.min.js"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            $("#menu-bgmea-circulation").addClass("active-custom");
            $("#menu-news-events").addClass("menu-open");

            $(".custom-file-label").text($("#filePath").val().split('/')[2]);
            $(function () {
                bsCustomFileInput.init();
            });

        });</script>
}