@page
@model myportfolio.Pages.Admin.Headline.EditModel

@{
    ViewData["Title"] = "Edit";
}



<div class="content-wrapper">
    <section class="content pt-3">
        <div class="container-fluid">
            <div class="row justify-content-center">
                <div class="col-md-12">
                    <!-- general form elements -->
                    <div class="card card-info">
                        <div class="card-header">
                            <h3 class="card-title">HeadLine</h3>
                        </div>
                        <form method="post">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <input type="hidden" asp-for="HeadLine.Id" value="@Model.HeadLine.Id" />
                                            <input type="hidden" asp-for="HeadLine.Key" value="@Model.HeadLine.Key" />
                                            <input type="hidden" asp-for="HeadLine.CreatedAt" value="@Model.HeadLine.CreatedAt" />
                                            <input type="hidden" asp-for="HeadLine.CreatedBy" value="@Model.HeadLine.CreatedBy" />

                                            <label asp-for="HeadLine.News">
                                                HeadLine Title
                                                <span class="text-danger">*</span>
                                            </label>
                                            <input asp-for="HeadLine.News" type="text" class="form-control" placeholder="Enter Slider News HeadLine Title" />
                                            <span asp-validation-for="HeadLine.News" class="text-danger"></span>
                                        </div>

                                        <div class="col-8">

                                            <div class="mb-3 form-check">
                                                <input type="checkbox" class="form-check-input" asp-for="HeadLine.IsActive">
                                                <label class="form-check-label" asp-for="HeadLine.IsActive">Is Active?</label>
                                            </div>


                                        </div>


                                    </div>


                                </div>



                            </div>

                            <div class="card-footer">
                                <a class="btn btn-outline-info" asp-page="/Admin/HeadLine/Index">Back</a>
                                <button type="submit" class="btn btn-info float-right">Save</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }


    <script type="text/javascript">
        $(document).ready(function () {
            $("#menu-headline").addClass("active-custom");
            $("#menu-configuration").addClass("menu-open");



        });</script>
}
