@page
@model myportfolio.Pages.Admin.ReportedProject.CreateModel

@{
    ViewData["Title"] = "Create";
}
<div class="content-wrapper">
    <section class="content pt-3">
        <div class="container-fluid">
            <div class="row justify-content-center">
                <div class="col-md-12">
                    <!-- general form elements -->
                    <div class="card card-info">
                        <div class="card-header">
                            <h3 class="card-title">Reported Project</h3>
                        </div>

                        <form method="post">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <div class="card-body">

                                <div class="col-md-6">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <label asp-for="ReportedProjectRequested.ProjectName" class="control-label"> Project  Name</label>
                                                <input asp-for="ReportedProjectRequested.ProjectName" required class="form-control" />
                                                <span asp-validation-for="ReportedProjectRequested.ProjectName" class="text-danger"></span>
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <label asp-for="ReportedProjectRequested.Description" class="control-label"></label>
                                                <input asp-for="ReportedProjectRequested.Description"  class="form-control" />
                                                <span asp-validation-for="ReportedProjectRequested.Description" class="text-danger"></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card-footer">
                                <a class="btn btn-outline-info" asp-page="/Admin/ReportedProject/Index">Back</a>
                                <button type="submit" class="btn btn-info float-right">Save</button>
                            </div>
                        </form>

                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- /.content -->
</div>

@section Scripts{
    <script type="text/javascript">
        $(document).ready(function () {
            $("#menu-configuration").addClass("menu-open");
            $("#menu-reported-Project").addClass("active-custom");
        });</script>
}
