@page
@model myportfolio.Pages.Admin.ChangePasswordModel
@{
    ViewData["Title"] = "Change Password";
}
<div class="content-wrapper">
    <section class="content pt-3">
        <div class="container-fluid">
            <div class="row justify-content-center">
                <div class="col-md-12">
                    <!-- general form elements -->
                    <div class="card card-info">
                        <div class="card-header">
                            <h3 class="card-title">Change Password</h3>
                        </div>
                        <form method="post">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                            <div class="card-body">
                                <div class="col-md-6 offset-3 card p-3" >
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <label class="" asp-for="Model.CurrentPassword">Current Password</label>
                                                <input type="password" asp-for="Model.CurrentPassword" required class="form-control" placeholder="Enter Current Password" />
                                                <span asp-validation-for="Model.CurrentPassword" class="text-danger"></span>
                                            </div>
                                        </div>    
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <label class="" asp-for="Model.NewPassword">New Password</label>
                                                <input type="password" asp-for="Model.NewPassword" required class="form-control" placeholder="*********" />
                                                <span asp-validation-for="Model.NewPassword" class="text-danger"></span>
                                            </div>
                                        </div>                                      

                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <label class="" asp-for="Model.ConfirmPassword">Confirm Password</label>
                                                <input type="password" asp-for="Model.ConfirmPassword" required class="form-control" placeholder="*********" />
                                                <span asp-validation-for="Model.ConfirmPassword" class="text-danger"></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card-footer">
                                <a class="btn btn-outline-info" asp-page="/Admin/User/Index">Back</a>
                                <button type="submit" class="btn btn-info float-right">Save</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>





    <!-- /.content -->
</div>

@section Scripts {


    <script type="text/javascript">
        $(document).ready(function () {
            //$("#menu-user-manage").addClass("menu-open");
            $("#menu-change-password").addClass("active-custom");

        });</script>
}
