@page
@model myportfolio.Pages.Admin.ConfirmPasswordModel
@{
}
@{
    Layout = "";
    
}

<link rel="stylesheet" href="~/plugins/fontawesome-free/css/all.min.css">



<link rel="stylesheet" href="~/dist/css/adminlte.min.css?v=3.2.0">

<div class="login-page">


    <div class="login-box">

        <div class="card card-outline card-primary">
            <div class="card-header text-center">
                <a class="h1" style="font-size:1.5rem"><b>Alamgir KabirPortfolio</b></a>
            </div>
            <div class="card-body">
                <p class="login-box-msg text-wrap">Please check your email.A link was send to your email to reset password!</p>
                
                   
                    <div >
                    <a  class="btn btn-primary" asp-page="./Signin">Login</a>
                    </div>


            </div>

        </div>

    </div>

</div>
