@page
@model myportfolio.Pages.Admin.ForgotPasswordModel
@{
    Layout = "";
}

<link rel="stylesheet" href="~/plugins/fontawesome-free/css/all.min.css">



<link rel="stylesheet" href="~/dist/css/adminlte.min.css?v=3.2.0">

<div class="login-page">


    <div class="login-box">

        <div class="card card-outline card-primary">
            <div class="card-header text-center">
                <a class="h1" style="font-size:1.5rem"><b>Alamgir KabirPortfolio</b></a>
            </div>
            <div class="card-body">
                <p class="login-box-msg">Please Enter Your Email</p>
                <form method="post">
                    <div class="input-group mb-3">
                        <input type="email" asp-for="ForgotPasswordViewModels.Email" class="form-control" placeholder="example@sample.com" />
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-envelope"></span>
                            </div>
                        </div>
                        <br />

                    </div>
                    <span asp-validation-for="ForgotPasswordViewModels.Email" class="text-danger"></span>
                    
                    <div >
                        <div >
                            <button type="submit" class="btn btn-primary">Submit</button>
                        </div>
                    </div>
                   
                </form>



            </div>

        </div>

    </div>

</div>
