@page
@model myportfolio.Pages.Admin.ResetPasswordModel
@{
    Layout = "";
    var token = ViewData["token"];
}

<link rel="stylesheet" href="~/plugins/fontawesome-free/css/all.min.css">



<link rel="stylesheet" href="~/dist/css/adminlte.min.css?v=3.2.0">

<div class="login-page">


    <div class="login-box">

        <div class="card card-outline card-primary">
            <div class="card-header text-center">
                <a class="h1" style="font-size:1.5rem"><b>Alamgir KabirPortfolio</b></a>
            </div>
            <div class="card-body">
                <p class="login-box-msg">Reset your password</p>
                <form method="post">
                    <input type="hidden" asp-for="ResetPasswordViewModels.Token" />
                    <input type="hidden" asp-for="ResetPasswordViewModels.Email"  />
                    <div class="input-group mb-3">
                        <input type="password"  asp-for="ResetPasswordViewModels.Password" class="form-control" placeholder="Please Enter Password" />
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-lock"></span>
                            </div>
                        </div>
                        <br />
                    </div>
                    <span asp-validation-for="ResetPasswordViewModels.Password" class="text-danger"></span>
                    <div class="input-group mb-3">
                        <input type="password"  asp-for="ResetPasswordViewModels.ConfirmPassword" class="form-control" placeholder="Please Confirm Password" />
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-lock"></span>
                            </div>
                        </div>
                        <br />
                    </div>
                    <span asp-validation-for="ResetPasswordViewModels.ConfirmPassword" class="text-danger"></span>

                    <div class="row align-items-baseline">
                        <div class="col-4">
                            <button type="submit" class="btn btn-primary btn-block">Reset</button>
                        </div>
                    </div>

                </form>



            </div>

        </div>

    </div>

</div>
