<!-- Preloader -->
<div class="preloader flex-column justify-content-center align-items-center">
    <img class="animation__shake img-circle"
         src="~/quadrion/img/02.png"
         alt="RDM Logo"
         height="60"
         width="60"
         style="border:1px solid #eee" />
</div>