@page
@using myportfolio.Helpers
@model myportfolio.Pages.Admin.Slider.EditModel

@{ ViewData["Title"] = "Slider | Edit";
                var identifier = SliderIdentifier.IdentifierList(); }

<link href="~/css/imageUpload.css" rel="stylesheet" />

<div class="content-wrapper">
    <section class="content pt-3">
        <div class="container-fluid">
            <div class="row justify-content-center">
                <div class="col-md-12">
                    <!-- general form elements -->
                    <div class="card card-info">
                        <div class="card-header">
                            <h3 class="card-title">Slider</h3>
                        </div>
                        <form method="post" enctype="multipart/form-data">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <input type="hidden" asp-for="RequestSlider.Id" />
                            <input type="hidden" asp-for="RequestSlider.Key" />
                            <input type="hidden" asp-for="RequestSlider.CreatedAt" />
                            <input type="hidden" asp-for="RequestSlider.CreatedBy" />
                            <input type="hidden" asp-for="RequestSlider.FilePath" id="filePath" />

                            <div class="card-body">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    <label asp-for="RequestSlider.Identifier">Identifier<span class="text-danger">*</span></label>
                                                    <select asp-for="RequestSlider.Identifier" required class="form-control">
                                                        <option value="">Select Identifier</option>
                                                        @foreach (var item in identifier)
                                                        {
                                            <option value="@item">@item</option>}
                                                    </select>
                                                    <span asp-validation-for="RequestSlider.Identifier" class="text-danger"></span>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    <label asp-for="RequestSlider.Heading">
                                                        Heading
                                                    </label>
                                                    <input asp-for="RequestSlider.Heading" type="text" class="form-control" placeholder="Enter Heading" />
                                                    <span asp-validation-for="RequestSlider.Heading" class="text-danger"></span>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    <label asp-for="RequestSlider.Details">
                                                        Details

                                                    </label>
                                                    <textarea asp-for="RequestSlider.Details" type="text" class="form-control" placeholder="Enter Details"></textarea>
                                                    <span asp-validation-for="RequestSlider.Details" class="text-danger"></span>
                                                </div>
                                            </div>
                                        </div>

                                    </div>

                                    <div class="col-md-6">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="form-group">

                                                    <div class="container">
                                                        <div class="wrapper-two">
                                                            <div class="image">
                                                            </div>
                                                            <div class="content">
                                                                <div class="icon">
                                                                    <i class="fas fa-cloud-upload-alt"></i>
                                                                </div>
                                                                <div class="text">
                                                                    No file chosen, yet!
                                                                </div>
                                                            </div>
                                                            <div id="cancel-btn">
                                                                <i class="fas fa-times"></i>
                                                            </div>
                                                            <div class="file-name">
                                                                File name here
                                                            </div>
                                                        </div>
                                                        <button type="button" onclick="defaultBtnActive()" id="custom-choose-file-btn">Choose a file</button>
                                                        <input id="default-btn" type="file" asp-for="RequestSlider.File" style="opacity: 0;">
                                                    </div>
                                                    <br />
                                                    <span asp-validation-for="RequestSlider.File" class="text-danger"></span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="card-footer">
                                <a class="btn btn-outline-info" asp-page="./Index">Back</a>
                                <button type="submit" class="btn btn-info float-right">Save</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- /.content -->
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script src="~/js/imageUpload.js"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            $("#menu-slider").addClass("active-custom");
            $("#menu-configuration").addClass("menu-open");


        });</script>
}