@page
@model myportfolio.Pages.Admin.Downloads.CreateModel

@{
    ViewData["Title"] = "Downloads | New";
}


<link rel="stylesheet" href="~/plugins/select2/css/select2.min.css">


<div class="content-wrapper">
    <section class="content pt-3">
        <div class="container-fluid">
            <div class="row justify-content-center">
                <div class="col-md-12">
                    <!-- general form elements -->
                    <div class="card card-info">
                        <div class="card-header">
                            <h3 class="card-title">Downloads</h3>
                        </div>
                        <form method="post" enctype="multipart/form-data">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <input type="hidden" asp-for="RequestDownloads.Key" value="@Guid.NewGuid()" />

                            <div class="card-body">



                                <div class="row">

                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label asp-for="RequestDownloads.FileGroupId">
                                                File Group
                                                <span class="text-danger">*</span>
                                            </label>
                                            <select class="form-control select2 select2-container" id="fileGroupId" asp-for="RequestDownloads.FileGroupId" asp-items="ViewBag.FileGroupId">
                                                <option value="">Select File Group</option>
                                            </select>
                                            <input type="hidden" asp-for="RequestDownloads.FileGroupName" id="fileGroupName" />
                                            <span asp-validation-for="RequestDownloads.FileGroupId" class="text-danger"></span>
                                        </div>
                                    </div>

                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label asp-for="RequestDownloads.FileName">
                                                File Name
                                                <span class="text-danger">*</span>
                                            </label>
                                            <input asp-for="RequestDownloads.FileName" type="text" class="form-control" placeholder="Enter File Name" />
                                            <span asp-validation-for="RequestDownloads.FileName" class="text-danger"></span>
                                        </div>
                                    </div>


                                </div>

                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label for="exampleInputFile">File input  <span class="text-danger">*</span></label>
                                            <div class="input-group">
                                                <div class="custom-file">
                                                    <input type="file" class="custom-file-input" id="exampleInputFile" asp-for="RequestDownloads.File" required>
                                                    <label class="custom-file-label">Choose file</label>

                                                </div>

                                            </div>
                                            <span asp-validation-for="RequestDownloads.File" class="text-danger"></span>

                                        </div>
                                    </div>
                                </div>



                            </div>


                            <div class="card-footer">
                                <a class="btn btn-outline-info" asp-page="/Admin/Downloads/Index">Back</a>
                                <button type="submit" class="btn btn-info float-right">Save</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>





    <!-- /.content -->
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}


    <script src="~/plugins/select2/js/select2.full.min.js"></script>
    <script src="~/plugins/bs-custom-file-input/bs-custom-file-input.min.js"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            $("#menu-downloads").addClass("active-custom");
            $("#menu-resources").addClass("menu-open");

            $('.select2').select2({
                tags: true,
                placeholder: 'Select file group'

            });

            $("#fileGroupId").on("change",
                function () {

                    if (isNaN($("#fileGroupId").val())) {
                        $("#fileGroupName").val($("#fileGroupId").val());
                        $("#fileGroupId").val("0");
                    } else {
                        $("#fileGroupName").val("");
                    }


                });

        });

        $(function () {
            bsCustomFileInput.init();
        });

    </script>
}

