@page
@model myportfolio.Pages.Website.Product.AgroModel
@{
}


<section class="home-slider js-fullheight owl-carousel">
    <div class="slider-item js-fullheight"
         style="
          background-image: url(https://www.ecotextile.com/images/stories/2021/January/Garment_factory.jpg);
        ">
        <div class="overlay"></div>
        <div class="container">
            <div class="row slider-text justify-content-center align-items-center">
                <div class="col-md-7 col-sm-12 text-center ftco-animate">
                    <h1 class="mb-3 mt-5 bread">Product & Services</h1>
                    <p class="breadcrumbs">
                        <span class="mr-2"><a href="/Index">Home</a></span><span>/ Product & Services / Agro</span>
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="ftco-section">
    <div class="container">
        <div class="row no-gutters justify-content-around">
            <div class="col-md-2 col-sm-12 ftco-animate">
                <div class="nav flex-column nav-pills nav-pill-margin"
                     id="v-pills-tab"
                     role="tablist"
                     aria-orientation="vertical">
                    <a class="nav-link active nav-tab-text"
                       id="v-pills-bulls-tab"
                       data-toggle="pill"
                       href="#v-pills-bulls"
                       role="tab"
                       aria-controls="v-pills-bulls"
                       aria-selected="true">Bulls</a>

                    <a class="nav-link nav-tab-text"
                       id="v-pills-goats-tab"
                       data-toggle="pill"
                       href="#v-pills-goats"
                       role="tab"
                       aria-controls="v-pills-goats"
                       aria-selected="false">Goats</a>
                    <a class="nav-link nav-tab-text"
                       id="v-pills-ducks-tab"
                       data-toggle="pill"
                       href="#v-pills-ducks"
                       role="tab"
                       aria-controls="v-pills-ducks"
                       aria-selected="false">Ducks</a>
                </div>
            </div>

            <div class="col-md-10 col-sm-12 ftco-animate">
                <div class="tab-content" id="v-pills-tabContent">
                    <div class="tab-pane fade show active"
                         id="v-pills-bulls"
                         role="tabpanel"
                         aria-labelledby="v-pills-bulls-tab">
                        <div class="product-categroy-container">
                            <h2 class="mb-4 text-center text-uppercase"
                                style="font-weight: 500">
                                Bulls
                            </h2>

                            <div class="text-center product-category-list">
                                <div class="single-product item">
                                    <a href="https://images.unsplash.com/photo-1598715685267-0f45367d8071?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=687&q=80"
                                       class="icon image-popup d-flex justify-content-center align-items-center">
                                        <div class="product">
                                            <div class="product-image">
                                                <img src="https://images.unsplash.com/photo-1598715685267-0f45367d8071?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=687&q=80"
                                                     class="img-fluid d-block m-auto"
                                                     alt="product-image" />
                                                <div class="product-image-overlay product-image-fade-effect"></div>
                                            </div>
                                            <div class="product-details">
                                                <div class="product-category-name">
                                                    <h1 class="text-center text-white">
                                                        Title<br />
                                                        <span class="product-role">
                                                            Sample text sample text sample text sample text
                                                            sample text sample text sample text sample text
                                                            sample sample text.
                                                        </span>
                                                    </h1>
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                                <div class="single-product item">
                                    <a href="https://images.unsplash.com/photo-1592585897997-584ddf2fed6c?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=687&q=80"
                                       class="icon image-popup d-flex justify-content-center align-items-center">
                                        <div class="product">
                                            <div class="product-image">
                                                <img src="https://images.unsplash.com/photo-1592585897997-584ddf2fed6c?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=687&q=80"
                                                     class="img-fluid d-block m-auto"
                                                     alt="product-image" />
                                                <div class="product-image-overlay product-image-fade-effect"></div>
                                            </div>
                                            <div class="product-details">
                                                <div class="product-category-name">
                                                    <h1 class="text-center text-white">
                                                        Title<br />
                                                        <span class="product-role">
                                                            Sample text sample text sample text sample text
                                                            sample text sample text sample text sample text
                                                            sample sample text.
                                                        </span>
                                                    </h1>
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                                <div class="single-product item">
                                    <a href="https://images.unsplash.com/photo-1593768697824-f31b967e6c55?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=689&q=80"
                                       class="icon image-popup d-flex justify-content-center align-items-center">
                                        <div class="product">
                                            <div class="product-image">
                                                <img src="https://images.unsplash.com/photo-1593768697824-f31b967e6c55?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=689&q=80"
                                                     class="img-fluid d-block m-auto"
                                                     alt="product-image" />
                                                <div class="product-image-overlay product-image-fade-effect"></div>
                                            </div>
                                            <div class="product-details">
                                                <div class="product-category-name">
                                                    <h1 class="text-center text-white">
                                                        Title<br />
                                                        <span class="product-role">
                                                            Sample text sample text sample text sample text
                                                            sample text sample text sample text sample text
                                                            sample sample text.
                                                        </span>
                                                    </h1>
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                </div>

                                <div class="single-product item">
                                    <a href="https://images.unsplash.com/photo-1604860428762-f55cea62b7a0?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=687&q=80"
                                       class="icon image-popup d-flex justify-content-center align-items-center">
                                        <div class="product">
                                            <div class="product-image">
                                                <img src="https://images.unsplash.com/photo-1604860428762-f55cea62b7a0?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=687&q=80"
                                                     class="img-fluid d-block m-auto"
                                                     alt="product-image" />
                                                <div class="product-image-overlay product-image-fade-effect"></div>
                                            </div>
                                            <div class="product-details">
                                                <div class="product-category-name">
                                                    <h1 class="text-center text-white">
                                                        Title<br />
                                                        <span class="product-role">
                                                            Sample text sample text sample text sample text
                                                            sample text sample text sample text sample text
                                                            sample sample text.
                                                        </span>
                                                    </h1>
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                </div>

                                <div class="single-product item">
                                    <a href="https://images.unsplash.com/photo-1583486112933-db8cc06cd14f?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=687&q=80"
                                       class="icon image-popup d-flex justify-content-center align-items-center">
                                        <div class="product">
                                            <div class="product-image">
                                                <img src="https://images.unsplash.com/photo-1583486112933-db8cc06cd14f?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=687&q=80"
                                                     class="img-fluid d-block m-auto"
                                                     alt="product-image" />
                                                <div class="product-image-overlay product-image-fade-effect"></div>
                                            </div>
                                            <div class="product-details">
                                                <div class="product-category-name">
                                                    <h1 class="text-center text-white">
                                                        Title<br />
                                                        <span class="product-role">
                                                            Sample text sample text sample text sample text
                                                            sample text sample text sample text sample text
                                                            sample sample text.
                                                        </span>
                                                    </h1>
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                </div>

                                <div class="single-product item">
                                    <a href="https://images.unsplash.com/photo-1545468259-3061e564cf56?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=697&q=80"
                                       class="icon image-popup d-flex justify-content-center align-items-center">
                                        <div class="product">
                                            <div class="product-image">
                                                <img src="https://images.unsplash.com/photo-1545468259-3061e564cf56?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=697&q=80"
                                                     class="img-fluid d-block m-auto"
                                                     alt="product-image" />
                                                <div class="product-image-overlay product-image-fade-effect"></div>
                                            </div>
                                            <div class="product-details">
                                                <div class="product-category-name">
                                                    <h1 class="text-center text-white">
                                                        Title<br />
                                                        <span class="product-role">
                                                            Sample text sample text sample text sample text
                                                            sample text sample text sample text sample text
                                                            sample sample text.
                                                        </span>
                                                    </h1>
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade"
                         id="v-pills-goats"
                         role="tabpanel"
                         aria-labelledby="v-pills-goats-tab">
                        <div class="product-categroy-container">
                            <h2 class="mb-4 text-center text-uppercase"
                                style="font-weight: 500">
                                Goats
                            </h2>

                            <div class="text-center product-category-list">
                                <div class="single-product item">
                                    <a href="https://images.unsplash.com/photo-1506076177893-89d54794ef41?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=687&q=80"
                                       class="icon image-popup d-flex justify-content-center align-items-center">
                                        <div class="product">
                                            <div class="product-image">
                                                <img src="https://images.unsplash.com/photo-1506076177893-89d54794ef41?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=687&q=80"
                                                     class="img-fluid d-block m-auto"
                                                     alt="product-image" />
                                                <div class="product-image-overlay product-image-fade-effect"></div>
                                            </div>
                                            <div class="product-details">
                                                <div class="product-category-name">
                                                    <h1 class="text-center text-white">
                                                        Title<br />
                                                        <span class="product-role">
                                                            Sample text sample text sample text sample text
                                                            sample text sample text sample text sample text
                                                            sample sample text.
                                                        </span>
                                                    </h1>
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                </div>

                                <div class="single-product item">
                                    <a href="https://images.unsplash.com/photo-1560888126-5c13ad3f9345?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1171&q=80"
                                       class="icon image-popup d-flex justify-content-center align-items-center">
                                        <div class="product">
                                            <div class="product-image">
                                                <img src="https://images.unsplash.com/photo-1560888126-5c13ad3f9345?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1171&q=80"
                                                     class="img-fluid d-block m-auto"
                                                     alt="product-image" />
                                                <div class="product-image-overlay product-image-fade-effect"></div>
                                            </div>
                                            <div class="product-details">
                                                <div class="product-category-name">
                                                    <h1 class="text-center text-white">
                                                        Title<br />
                                                        <span class="product-role">
                                                            Sample text sample text sample text sample text
                                                            sample text sample text sample text sample text
                                                            sample sample text.
                                                        </span>
                                                    </h1>
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                </div>

                                <div class="single-product item">
                                    <a href="https://images.unsplash.com/photo-1608153929527-23b9758b401d?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=731&q=80"
                                       class="icon image-popup d-flex justify-content-center align-items-center">
                                        <div class="product">
                                            <div class="product-image">
                                                <img src="https://images.unsplash.com/photo-1608153929527-23b9758b401d?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=731&q=80"
                                                     class="img-fluid d-block m-auto"
                                                     alt="product-image" />
                                                <div class="product-image-overlay product-image-fade-effect"></div>
                                            </div>
                                            <div class="product-details">
                                                <div class="product-category-name">
                                                    <h1 class="text-center text-white">
                                                        Title<br />
                                                        <span class="product-role">
                                                            Sample text sample text sample text sample text
                                                            sample text sample text sample text sample text
                                                            sample sample text.
                                                        </span>
                                                    </h1>
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                                <div class="single-product item">
                                    <a href="https://images.unsplash.com/photo-1629213680648-b2b713d82dbc?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=687&q=80"
                                       class="icon image-popup d-flex justify-content-center align-items-center">
                                        <div class="product">
                                            <div class="product-image">
                                                <img src="https://images.unsplash.com/photo-1629213680648-b2b713d82dbc?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=687&q=80"
                                                     class="img-fluid d-block m-auto"
                                                     alt="product-image" />
                                                <div class="product-image-overlay product-image-fade-effect"></div>
                                            </div>
                                            <div class="product-details">
                                                <div class="product-category-name">
                                                    <h1 class="text-center text-white">
                                                        Title<br />
                                                        <span class="product-role">
                                                            Sample text sample text sample text sample text
                                                            sample text sample text sample text sample text
                                                            sample sample text.
                                                        </span>
                                                    </h1>
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                                <div class="single-product item">
                                    <a href="https://images.unsplash.com/photo-1603480372719-cee90a49b202?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=880&q=80"
                                       class="icon image-popup d-flex justify-content-center align-items-center">
                                        <div class="product">
                                            <div class="product-image">
                                                <img src="https://images.unsplash.com/photo-1603480372719-cee90a49b202?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=880&q=80"
                                                     class="img-fluid d-block m-auto"
                                                     alt="product-image" />
                                                <div class="product-image-overlay product-image-fade-effect"></div>
                                            </div>
                                            <div class="product-details">
                                                <div class="product-category-name">
                                                    <h1 class="text-center text-white">
                                                        Title<br />
                                                        <span class="product-role">
                                                            Sample text sample text sample text sample text
                                                            sample text sample text sample text sample text
                                                            sample sample text.
                                                        </span>
                                                    </h1>
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                                <div class="single-product item">
                                    <a href="https://images.unsplash.com/photo-1608237652484-b478fac3bf7c?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=735&q=80"
                                       class="icon image-popup d-flex justify-content-center align-items-center">
                                        <div class="product">
                                            <div class="product-image">
                                                <img src="https://images.unsplash.com/photo-1608237652484-b478fac3bf7c?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=735&q=80"
                                                     class="img-fluid d-block m-auto"
                                                     alt="product-image" />
                                                <div class="product-image-overlay product-image-fade-effect"></div>
                                            </div>
                                            <div class="product-details">
                                                <div class="product-category-name">
                                                    <h1 class="text-center text-white">
                                                        Title<br />
                                                        <span class="product-role">
                                                            Sample text sample text sample text sample text
                                                            sample text sample text sample text sample text
                                                            sample sample text.
                                                        </span>
                                                    </h1>
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade"
                         id="v-pills-ducks"
                         role="tabpanel"
                         aria-labelledby="v-pills-ducks-tab">
                        <div class="product-categroy-container">
                            <h2 class="mb-4 text-center text-uppercase"
                                style="font-weight: 500">
                                Ducks
                            </h2>

                            <div class="text-center product-category-list">
                                <div class="single-product item">
                                    <a href="https://images.unsplash.com/photo-1465153690352-10c1b29577f8?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MXx8ZHVja3xlbnwwfHwwfHw%3D&auto=format&fit=crop&w=500&q=60"
                                       class="icon image-popup d-flex justify-content-center align-items-center">
                                        <div class="product">
                                            <div class="product-image">
                                                <img src="https://images.unsplash.com/photo-1465153690352-10c1b29577f8?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MXx8ZHVja3xlbnwwfHwwfHw%3D&auto=format&fit=crop&w=500&q=60"
                                                     class="img-fluid d-block m-auto"
                                                     alt="product-image" />
                                                <div class="product-image-overlay product-image-fade-effect"></div>
                                            </div>
                                            <div class="product-details">
                                                <div class="product-category-name">
                                                    <h1 class="text-center text-white">
                                                        Title<br />
                                                        <span class="product-role">
                                                            Sample text sample text sample text sample text
                                                            sample text sample text sample text sample text
                                                            sample sample text.
                                                        </span>
                                                    </h1>
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                </div>

                                <div class="single-product item">
                                    <a href="https://images.unsplash.com/photo-1563409236302-8442b5e644df?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8ZHVja3xlbnwwfHwwfHw%3D&auto=format&fit=crop&w=500&q=60"
                                       class="icon image-popup d-flex justify-content-center align-items-center">
                                        <div class="product">
                                            <div class="product-image">
                                                <img src="https://images.unsplash.com/photo-1563409236302-8442b5e644df?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8ZHVja3xlbnwwfHwwfHw%3D&auto=format&fit=crop&w=500&q=60"
                                                     class="img-fluid d-block m-auto"
                                                     alt="product-image" />
                                                <div class="product-image-overlay product-image-fade-effect"></div>
                                            </div>
                                            <div class="product-details">
                                                <div class="product-category-name">
                                                    <h1 class="text-center text-white">
                                                        Title<br />
                                                        <span class="product-role">
                                                            Sample text sample text sample text sample text
                                                            sample text sample text sample text sample text
                                                            sample sample text.
                                                        </span>
                                                    </h1>
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                                <div class="single-product item">
                                    <a href="https://images.unsplash.com/photo-1578956919791-af7615c94b90?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Nnx8ZHVja3xlbnwwfHwwfHw%3D&auto=format&fit=crop&w=500&q=60"
                                       class="icon image-popup d-flex justify-content-center align-items-center">
                                        <div class="product">
                                            <div class="product-image">
                                                <img src="https://images.unsplash.com/photo-1578956919791-af7615c94b90?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Nnx8ZHVja3xlbnwwfHwwfHw%3D&auto=format&fit=crop&w=500&q=60"
                                                     class="img-fluid d-block m-auto"
                                                     alt="product-image" />
                                                <div class="product-image-overlay product-image-fade-effect"></div>
                                            </div>
                                            <div class="product-details">
                                                <div class="product-category-name">
                                                    <h1 class="text-center text-white">
                                                        Title<br />
                                                        <span class="product-role">
                                                            Sample text sample text sample text sample text
                                                            sample text sample text sample text sample text
                                                            sample sample text.
                                                        </span>
                                                    </h1>
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                </div>

                                <div class="single-product item">
                                    <a href="https://images.unsplash.com/photo-1585533530535-2f4236949d08?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NHx8ZHVja3xlbnwwfHwwfHw%3D&auto=format&fit=crop&w=500&q=60"
                                       class="icon image-popup d-flex justify-content-center align-items-center">
                                        <div class="product">
                                            <div class="product-image">
                                                <img src="https://images.unsplash.com/photo-1585533530535-2f4236949d08?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NHx8ZHVja3xlbnwwfHwwfHw%3D&auto=format&fit=crop&w=500&q=60"
                                                     class="img-fluid d-block m-auto"
                                                     alt="product-image" />
                                                <div class="product-image-overlay product-image-fade-effect"></div>
                                            </div>
                                            <div class="product-details">
                                                <div class="product-category-name">
                                                    <h1 class="text-center text-white">
                                                        Title<br />
                                                        <span class="product-role">
                                                            Sample text sample text sample text sample text
                                                            sample text sample text sample text sample text
                                                            sample sample text.
                                                        </span>
                                                    </h1>
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                </div>

                                <div class="single-product item">
                                    <a href="https://images.unsplash.com/photo-1555852095-64e7428df0fa?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTF8fGR1Y2t8ZW58MHx8MHx8&auto=format&fit=crop&w=500&q=60"
                                       class="icon image-popup d-flex justify-content-center align-items-center">
                                        <div class="product">
                                            <div class="product-image">
                                                <img src="https://images.unsplash.com/photo-1555852095-64e7428df0fa?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTF8fGR1Y2t8ZW58MHx8MHx8&auto=format&fit=crop&w=500&q=60"
                                                     class="img-fluid d-block m-auto"
                                                     alt="product-image" />
                                                <div class="product-image-overlay product-image-fade-effect"></div>
                                            </div>
                                            <div class="product-details">
                                                <div class="product-category-name">
                                                    <h1 class="text-center text-white">
                                                        Title<br />
                                                        <span class="product-role">
                                                            Sample text sample text sample text sample text
                                                            sample text sample text sample text sample text
                                                            sample sample text.
                                                        </span>
                                                    </h1>
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                </div>

                                <div class="single-product item">
                                    <a href="https://images.unsplash.com/photo-1598168373100-237b409b1b74?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTJ8fGR1Y2t8ZW58MHx8MHx8&auto=format&fit=crop&w=500&q=60"
                                       class="icon image-popup d-flex justify-content-center align-items-center">
                                        <div class="product">
                                            <div class="product-image">
                                                <img src="https://images.unsplash.com/photo-1598168373100-237b409b1b74?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTJ8fGR1Y2t8ZW58MHx8MHx8&auto=format&fit=crop&w=500&q=60"
                                                     class="img-fluid d-block m-auto"
                                                     alt="product-image" />
                                                <div class="product-image-overlay product-image-fade-effect"></div>
                                            </div>
                                            <div class="product-details">
                                                <div class="product-category-name">
                                                    <h1 class="text-center text-white">
                                                        Title<br />
                                                        <span class="product-role">
                                                            Sample text sample text sample text sample text
                                                            sample text sample text sample text sample text
                                                            sample sample text.
                                                        </span>
                                                    </h1>
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


@section Scripts{
    <script type="text/javascript">
        $(document).ready(function () {
            $("#product-menu-big-screen").addClass("active");
            $("#product-menu-small-screen").addClass("active");
        });</script>
}
