@page
@model myportfolio.Pages.Admin.Report.MonthlyTaskReportModel
@{
    ViewData["Title"] = "Monthly Task Report";
}
<style>
    .ui-datepicker-calendar {
        display: none;
    }
</style>
<link href="~/quadrion/css/backdropspinnerloader.css" rel="stylesheet" />
@*Spinner Start*@
<div id="overlay">
    <div class="cv-spinner">
        <span class="spinner"></span>
    </div>
</div>
@*Spinner End*@

<div class="content-wrapper">
    <section class="content pt-3">
        <div class="container-fluid">
            <div class="row justify-content-center">
                <div class="col-md-12">
                    <!-- general form elements -->
                    <div class="card card-info">
                        <div class="card-header">
                            <h3 class="card-title">Monthly Task Report</h3>
                        </div>
                        <form method="post" asp-page="ManageLeave">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <div class="card-body">
                                  <input type="hidden" id="tableData"/>
                            <div class="d-flex mb-3" style="gap:5px;flex-wrap:wrap;">
                                <div style="width:45%">
                                        <div class="form-group">
                                            <label for="startDate">
                                                Select Date and Month
                                                <span class="text-danger">*</span>
                                            </label>
                                            <input name="startDate" id="startDate" readonly class="form-control date-picker" />

                                        </div>
                                </div>
                                <div style="width:45%" >
                                        <div class="form-group">
                                            <label>Developer Name<span class="text-danger">*</span></label>
                                            <select id="userId" class="form-control select2 select2-container" required asp-items="@ViewBag.users" onchange="handleChangeDeveloper()">
                                                <option value="">Select Developer Name</option>
                                            </select>
                                        </div>
                                </div>
                                    <div style="margin-top:2rem;">
                                    <button type="button" class=" btn bg-primary  align-middle"  onclick="handleViewData()">
                                        View
                                    </button>
                                </div>
                                    <div style="margin-top:2rem;">
                                    <button type="button" class="btn bg-info  align-middle" onclick="handlePrintData()">
                                       
                                        Print
                                    </button>
                                </div>
                            </div>
                                <div class="table-responsive">
                                 
                                    <table class="table table-bordered table-hover p-2">
                                        <thead>
                                            <tr>
                                                @*<th> SL/No</th>*@
                                                <th>Date</th>
                                                @*<th> Name</th>*@
                                                <th> In Time</th>
                                                <th> Out Time</th>
                                                <th>Working Project </th>
                                                <th>Description</th>
                                            </tr>
                                        </thead>
                                        <tbody class="tbody">
                                           <tr class="noRecord">
                                               <td colspan="5" class="text-center tableText">No data found</td>
                                           </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div class="card-footer">
                                <a class="btn btn-outline-info" asp-page="/Admin/User/Index">Back</a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>





    <!-- /.content -->
</div>

@section Scripts{
    <script src="~/js/moment.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $("#menu-qt-report").addClass("menu-open");
            $("#menu-monthly-task-report").addClass("active-custom");
            //$("#startDate").datepicker("setDate", new Date());
            $("#startDate").datepicker("setDate", new Date(new Date().getFullYear(), 11));
            $('.date-picker').datepicker({
                changeMonth: true,
                changeYear: true,
                showButtonPanel: true,
                dateFormat: 'MM yy',
                onClose: function (dateText, inst) {
                    $(this).datepicker('setDate', new Date(inst.selectedYear, inst.selectedMonth, 1));
                    $(".tbody").html("<tr><td colspan='5' class='text-center'>No data found</td></tr>");
                    $("#tableData").val("");
                }
            });


           
        });

        function handleChangeDeveloper() {
            console.log(userId);
            $(".tbody").html("<tr><td colspan='5' class='text-center'>No data found</td></tr>");
           
        }
        function handleViewData() {
            var userId = $("#userId").val();
            
            var date = $("#startDate").val();
            if (date == "") {
                Swal.fire("Please select ", "Month and Year", "warning");
            } else if(userId==""){
                Swal.fire("Please select ", "Developer Name", "warning");
            }
            else {
                $("#overlay").fadeIn(300);
                var userId = $("#userId").val();
                var splitDate = date.split(" ");
                const monthArray = ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"];
                let month = monthArray.findIndex(x => x == splitDate[0]) + 1;

                var year = splitDate[1];
                $.ajax({
                    url: "/api/DailyTask/GetMonthlyTaskReportByUserId?userId=" + userId + "&month=" + month + "&year=" + year,
                    type: "GET",
                    contentType: "application/json;charset=utf-8",
                    dataType: "json",
                    async: true,
                    success: function (result, status) {
                        console.log(result)
                        var data = "";
                        $.each(result, function (key, item) {
                            if (item.description !== "" && item.workingProject !== null && item.reason === null && item.isHalfDayLeave === false && item.isInLeave === false && item.isHoliday===false) {
                                data += '<tr>';
                                data += '<td>' + moment(item.submitDate).format('DD-MMM-YYYY') + '</td>';
                                //data += '<td>' + item.name + '</td>';
                                data += '<td>' + new Date('7/10/2013 ' + item.inTime).toLocaleTimeString().replace(/([\d]+:[\d]{2})(:[\d]{2})(.*)/, "$1$3") + '</td>';
                                data += '<td>' + new Date('7/10/2013 ' + item.outTime).toLocaleTimeString().replace(/([\d]+:[\d]{2})(:[\d]{2})(.*)/, "$1$3") + '</td>';
                                data += '<td>' + item.workingProject + '</td>';
                                data += '<td>' + item.description + '</td>';
                                data += '</tr>';
                            } else if (item.inTime === "00:00:00" && item.reason !== null && item.isInLeave === true) {
                                data += '<tr>';
                                data += '<td>' + moment(item.submitDate).format('DD-MMM-YYYY') + '</td>';
                                //data += '<td >' + item.name + '</td>';
                                data += '<td colspan="5" class="text-center text-warning">' + "Leave due to " + item.reason + '</td>';
                                data += '</tr>';
                            }
                            else if (item.reason !==null && item.workingProject !== null && item.isHalfDayLeave===true || item.isInLeave===true) {
                                data += '<tr>';
                                data += '<td>' + moment(item.submitDate).format('DD-MMM-YYYY') + '</td>';
                                //data += '<td>' + item.name + '</td>';
                                data += '<td>' + new Date('7/10/2013 ' + item.inTime).toLocaleTimeString().replace(/([\d]+:[\d]{2})(:[\d]{2})(.*)/, "$1$3") + '</td>';
                                data += '<td>' + new Date('7/10/2013 ' + item.outTime).toLocaleTimeString().replace(/([\d]+:[\d]{2})(:[\d]{2})(.*)/, "$1$3") + '</td>';
                                data += '<td>' + item.workingProject + '</td>';
                                data += '<td>' + "(Note:" + item.reason + ") " + item.description + '</td>';
                                data += '</tr>';
                            } else if (item.workingProject === "" && item.isHoliday === true) {
                                data += '<tr>';
                                data += '<td>' + moment(item.submitDate).format('DD-MMM-YYYY') + '</td>';
                                //data += '<td >' + item.name + '</td>';
                                data += '<td colspan="5" class="text-center text-warning">' + item.description + '</td>';
                                data += '</tr>';
                            }
                            else {
                                data += '<tr>';
                                data += '<td>' + moment(item.submitDate).format('DD-MMM-YYYY') + '</td>';
                                //data += '<td>' + item.name + '</td>';
                                data += '<td colspan="5" class="text-center text-danger">' + "Task not submitted." + '</td>';
                                data += '</tr>';
                            }
                        });
                     
                        if (status == 'success') {

                            if (data === "") {
                                $(".tbody").html("<tr><td colspan='5' class='text-center'>No data found</td></tr>");

                            } else {
                                $(".tbody").html(data);
                                $(".noRecord").hide();
                                $("#tableData").val(result)

                            }

                        }

                    }

                }).done(function () {
                    setTimeout(function () {
                        $("#overlay").fadeOut(300);
                    }, 500);
                });
            }
        }

        function handlePrintData() {
            var val = $("#tableData").val();
            if (val == "") {
                Swal.fire("No data found ", "Please load data", "warning");
            } else {

                window.print();
            }
        }
    </script>
}