@page
@model myportfolio.Pages.Website.Concern.UniGarmentsModel
@{
}


<section class="home-slider js-fullheight owl-carousel">
    <div class="slider-item js-fullheight"
         style="
          background-image: url(https://www.ecotextile.com/images/stories/2021/January/Garment_factory.jpg);
        ">
        <div class="overlay"></div>
        <div class="container">
            <div class="row slider-text justify-content-center align-items-center">
                <div class="col-md-7 col-sm-12 text-center ftco-animate">
                    <h1 class="mb-3 mt-5 bread">UNI Garments</h1>
                    <p>
                        Sample text sample text sample text sample text sample text,
                        sample text sample text. Sample text sample text sample text
                        sample text sample text sample text!
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="ftco-section ftco-animate">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8 text-left">
                <h2 class="mb-3">UNI Garments Journey</h2>
                <hr class="heading-hr-style" />
            </div>
            <div class="col-md-8">
                <p>
                    UNI Garments was founded in 1977 by Mr Rakibul Alam Chowdhury. His
                    trailblazing efforts established our company as the leader of the
                    100% export-oriented RMG sector in Bangladesh.
                </p>

                <p>
                    He had laid the foundation for Bangladesh’s export-oriented RMG
                    industry and had spearheaded the bonded warehouse and back-to-back
                    letter of credit systems. Desh Garments was established as a joint
                    venture with Daewoo of South Korea. We are the torchbearers of the
                    first garments in Bangladesh specializing in exports with modern
                    techniques of apparel-making technology.
                </p>
            </div>
        </div>
    </div>
</section>

<section>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-10 ftco-animate single-image-style"
                 style="background-image: url(/images/6.jpg)"></div>
        </div>
    </div>
</section>

<section class="ftco-animate ftco-section">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae
                    optio unde debitis assumenda ad, odit accusamus perferendis nihil
                    quis! Distinctio molestiae neque explicabo aperiam laborum!
                </p>

                <p>
                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quo
                    sequi ducimus voluptas! Alias incidunt reiciendis inventore
                    voluptatum exercitationem repellendus quasi unde velit. Autem odit
                    dolorum quaerat voluptatibus sint dolores nemo amet corporis eos
                    molestias! Amet.
                </p>
            </div>
        </div>
    </div>
</section>

<section class="ftco-section">
    <div class="container">
        <div class="row no-gutters">
            <div class="col-md-5 p-md-5 img img-2 ftco-animate"
                 style="
              background-image: url(https://letsbelearn.com/wp-content/uploads/2022/03/Fixing-Out-Your-Plus-Size-Set-of-Clothing.jpeg);
            "></div>
            <div class="col-md-7 wrap-about pb-md-5 ftco-animate">
                <div class="heading-section mb-5 pl-md-5 heading-section-with-line">
                    <div class="pl-md-5 ml-md-5">
                        <h2 class="mb-4">UNI Garments History</h2>
                    </div>
                </div>
                <div class="pl-md-5 ml-md-5 mb-5">
                    <p>
                        UNI Garments was established in the year of 2008 in Chaktai
                        commercial area, Chittagong Bangladesh. We started with only 80
                        machines and 150 work force. Initially we have rented only 1
                        floor (13000 SQF) and started our operation as a 100% export
                        oriented ready made garments factory. The factory location is
                        prominent for commercial business but there was no RMG factory
                        in that area. So from the starting it was very much challenging
                        with lack of skill manpower and also to create working
                        environment in surrounding area. But we took the challenge and
                        created our motivated and skill work force to run the factory
                        over the years. Right now we covered 4 floor (52000 SQF), The
                        work force is 1100 with 500 automated modern sewing machines.
                        Our factory is equipped with centralize Compressor, CAD system,
                        Laser cutter and also we are consistently adding updated and
                        modern machines regularly with our efficient production system.
                    </p>
                    <p>
                        Right now we covered 4 floor (52000 SQF), The work force is 1100
                        with 500 automated modern sewing machines. Our factory is
                        equipped with centralize Compressor, CAD system, Laser cutter
                        and also we are consistently adding updated and modern machines
                        regularly with our efficient production system.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="ftco-section" style="padding: 2rem 0">
    <div class="container">
        <div class="row no-gutters">
            <div class="col-md-7 wrap-about pb-md-5 ftco-animate pt-5">
                <div class="pr-md-5 mr-md-5 mb-5">
                    <p>
                        The merchandise team is now about 30 with energetic fresh people
                        has been recruited form CBIFT and many expertise senior
                        professionals were joined from few prominent company. The whole
                        supply chain along with inventory, procurement and production
                        management are ran and monitored by using award winning ERP
                        system software with the impact “state of the art”.
                    </p>
                    <p>
                        Now we are exporting 7 million garments every year to various
                        well known and reputed retailer around the globe, which include
                        Wal mart, (USA, Canada, Mexico); Sams Club USA, Mark Workwear
                        house, TJ MAX, Nord Storm etc.
                    </p>
                    <p>
                        In February 2009 we have started working with world leading
                        company ‘Wal-Mart’. The purpose to start working for Wal-Mart is
                        the step to enter the professional manufacturing of apparels
                        with innovation and passion. But to start manufacturing for
                        Wal-Mart we had to adapt with their compliance requirements
                        initially but over the time in 2011 Wal Mart announce their
                        policy to work only with non-sharing building policy along with
                        other fire safety system, which came as demand of time and
                        business. As we were committed to our business and to the
                        standard of Wal mart, we started our work to re arrange and re
                        structure our factory as per Wal mart requirement immediately.
                        Hence in next year we had rented over complete building and also
                        installed Hydrant system, latest smoke and fire detection and
                        prevention system in our factory. At that time it was very
                        costly but we had adapt with the requirements and met the
                        challenge to survive in the business.
                    </p>
                </div>
            </div>

            <div class="col-md-5 p-md-5 img img-2 ftco-animate"
                 style="
              background-image: url(https://images.unsplash.com/photo-1555529771-835f59fc5efe?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTF8fGdhcm1lbnQlMjBmYWN0b3J5fGVufDB8fDB8fA%3D%3D&w=1000&q=80);
            "></div>
        </div>
    </div>
</section>

@section Scripts{
    <script type="text/javascript">
        $(document).ready(function () {
            $("#concern-menu-big-screen").addClass("active");
            $("#concern-menu-small-screen").addClass("active");
        });</script>
}