@page
@model myportfolio.Pages.Website.Contact.FactoryAddressModel
@{
}


<section class="home-slider js-fullheight owl-carousel">
    <div class="slider-item js-fullheight"
         style="
          background-image: url(https://www.ecotextile.com/images/stories/2021/January/Garment_factory.jpg);
        ">
        <div class="overlay"></div>
        <div class="container">
            <div class="row slider-text justify-content-center align-items-center">
                <div class="col-md-7 col-sm-12 text-center ftco-animate">
                    <h1 class="mb-3 mt-5 bread">Factory Address</h1>
                    <p class="breadcrumbs">
                        <span class="mr-2"><a href="/Index">Home</a></span><span>/ Contact Us / Factory Address</span>
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="ftco-section ftco-animate">
    <h2 class="mb-4 text-center text-uppercase">Factory Address</h2>
    <div class="container gallery-container">
        <div class="row achievement-container address-container-item">
            <div class="col-md-6 col-sm-12 gallery-img-container"
                 style="
                                                 background-image: url(https://images.unsplash.com/photo-1610891015188-5369212db097?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NXx8ZmFjdG9yeXxlbnwwfHwwfHw%3D&w=1000&q=80);
                                             ">
                <a href="https://images.unsplash.com/photo-1610891015188-5369212db097?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NXx8ZmFjdG9yeXxlbnwwfHwwfHw%3D&w=1000&q=80"
                   class="icon image-popup d-flex justify-content-center align-items-center">
                    <span class="icon-expand gallery-image-expand"></span>
                </a>
            </div>
            <div class="col-md-6 col-sm-12 achievement-text-container">
                <h3 class="p-4 text-center office-address-text-description">
                    <span class="address-title">Factory One</span>
                    <br />
                    8 A G Road, Chattogram, Bangladesh <br />
                    Phone : +88 031 2854236 <br />
                    Email : rdm.apparels@gmail.com
                </h3>
            </div>
        </div>

        <div class="row achievement-container achievement-container-reverse address-container-item">
            <div class="col-md-6 col-sm-12 achievement-text-container">
                <h3 class="p-4 text-center office-address-text-description">
                    <span class="address-title">Factory Two</span><br />
                    8 A G Road, Chattogram, Bangladesh <br />
                    Phone : +88 031 2854236 <br />
                    Email : rdm.apparels@gmail.com
                </h3>
            </div>

            <div class="col-md-6 col-sm-12 gallery-img-container"
                 style="
                                                                                      background-image: url(https://supchina.com/wp-content/uploads/2022/04/futurefactory.jpeg);
                                                                                  ">
                <a href="https://supchina.com/wp-content/uploads/2022/04/futurefactory.jpeg"
                   class="icon image-popup d-flex justify-content-center align-items-center">
                    <span class="icon-expand gallery-image-expand"></span>
                </a>
            </div>
        </div>
    </div>
</section>






@section Scripts{
    <script type="text/javascript">
        $(document).ready(function () {
            $("#contact-menu-big-screen").addClass("active");
            $("#contact-menu-small-screen").addClass("active");
        });</script>
}