@page
@model myportfolio.Pages.Website.Resources.GalleryModel
@inject myportfolio.Model.ApplicationDbContext _Context

@{
    var mediaGalleries = _Context.MediaGallery.ToList();
    
}
<style>
    /* Add hover effect to the card */
    .card:hover {
        transform: scale(1.05); /* Increase the card size on hover */
        transition: transform 0.5s ease-in-out; /* Smooth transition */
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Add a box shadow on hover */
        background-color: #F0F0F0 !important;
    }
</style>

<div class="container-xxl py-5 bg-primary hero-header">
    <div class="container my-5 py-5 px-lg-5">
        <div class="row g-5 py-5">
            <div class="col-12 text-center">
                <h1 class="text-white animated slideInDown">Gallery</h1>
                <hr class="bg-white mx-auto mt-0" style="width: 90px;">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb justify-content-center">
                        <li class="breadcrumb-item"><a class="text-white" href="/Index">Home</a></li>
                        <li class="breadcrumb-item"><a class="text-white" href="~/Website/Product/Product">Project</a></li>
                        <li class="breadcrumb-item text-white active" aria-current="page">Gallery</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</div>
<!-- Projects Start -->
<div class="container-xxl py-5">
    <div class="container py-5 px-lg-5">
        <div class="wow fadeInUp" data-wow-delay="0.1s">
            <p class="section-title text-secondary justify-content-center"><span></span>Gallery<span></span></p>
            @*<h1 class="text-center mb-5">Recently Completed Projects</h1>*@
        </div>

        <div class="row mt-n2 wow fadeInUp" data-wow-delay="0.3s">
            <div class="col-12 text-center">
                <ul class="list-inline mb-5" id="portfolio-flters">
                    <li class="mx-2 active" data-filter="*">All</li>
                    <li class="mx-2" data-filter=".picture">Image</li>
                    <li class="mx-2" data-filter=".video">Video</li>
                </ul>
            </div>
        </div>
        <div class="row g-4 portfolio-container">


            @foreach (var item in mediaGalleries)
            {
                if (item.MediaType =="VIDEO" )
                {
                    <div class="col-lg-4 col-md-6 portfolio-item video wow fadeInUp" data-wow-delay="0.3s">
                        <div class="rounded overflow-hidden">
                            <div class="position-relative overflow-hidden">
                                <iframe class="responsive-iframe" src="@item.VideoLink" title="YouTube video player" frameborder="0"
                                        style="height: 300px; width: 100%;" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>     
                                       
                            </div>
                            <div class="bg-light p-4">
                                <p class="text-primary fw-medium mb-2">@item.FileName</p>
                            </div>
                        </div>
                    </div>
                }
                else
                {
                    <div class="col-lg-4 col-md-6 portfolio-item picture wow fadeInUp" data-wow-delay="0.3s">
                        <div class="rounded overflow-hidden">
                            <div class="position-relative overflow-hidden">
                                <img class=" w-100" height="300" width="300" src="/@item.FilePath" alt="">
                                <div class="portfolio-overlay">
                                    <a class="btn btn-square btn-outline-light mx-1" href="/@item.FilePath" data-lightbox="portfolio"><i class="fa fa-eye"></i></a>
                                    <a class="btn btn-square btn-outline-light mx-1" href="#"><i class="fa fa-link"></i></a>
                                </div>
                            </div>
                            <div class="bg-light p-4">
                                <p class="text-primary fw-medium mb-2">@item.FileName</p>
                            </div>
                        </div>
                    </div>
                }

            }



        </div>
    </div>
</div>
<!-- Projects End -->




@section Scripts{
    <script type="text/javascript">
        $(document).ready(function () {
            $("#team-menu-big-screen").addClass("active");
            $("#gallery-menu-small-screen").addClass("active");
        });</script>
}
