@page
@model myportfolio.Pages.Website.Resources.ProfileModel
@{
}


<section class="home-slider js-halfheight owl-carousel">
    @if (Model.Slider != null)
    {
        <div class="slider-item js-halfheight"
             style=" background-image: url(/@Model.Slider.FilePath); ">
            <div class="overlay"></div>
            <div class="container">
                <div class="row slider-text justify-content-center align-items-center">
                    <div class="col-md-7 col-sm-12 text-center ftco-animate js-halfheight-text">
                        <h1 class="mb-3 mt-5 bread">Resources</h1>
                        <p class="breadcrumbs">
                            <span class="mr-2"><a href="/Index">Home</a></span><span>/ Resources / Company Profile</span>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    }
    else
    {
        <div class="slider-item js-halfheight"
             style=" background-image: url(https://www.ecotextile.com/images/stories/2021/January/Garment_factory.jpg); ">
            <div class="overlay"></div>
            <div class="container">
                <div class="row slider-text justify-content-center align-items-center">
                    <div class="col-md-7 col-sm-12 text-center ftco-animate js-halfheight-text">
                        <h1 class="mb-3 mt-5 bread">Resources</h1>
                        <p class="breadcrumbs">
                            <span class="mr-2"><a href="/Index">Home</a></span><span>/ Resources / Company Profile</span>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    }

</section>

<section class="ftco-section">
    <div class="container">
        <div class="row no-gutters">
            <div class="col-md-5 p-md-5 img img-2 ftco-animate"
                 style="
              background-image: url(https://letsbelearn.com/wp-content/uploads/2022/03/Fixing-Out-Your-Plus-Size-Set-of-Clothing.jpeg);
            "></div>
            <div class="col-md-7 wrap-about pb-md-5 ftco-animate">
                <div class="heading-section mb-5 pl-md-5 heading-section-with-line">
                    <div class="pl-md-5 ml-md-5">
                        <h2 class="mb-4">Company Profile</h2>
                    </div>
                </div>
                <div class="pl-md-5 ml-md-5 mb-5 text-justify">
                    <p>
                        RDM Apparels Ltd was established in the year of 2008 in Chaktai
                        commercial area, Chittagong Bangladesh. We started with only 80
                        machines and 150 work force. Initially we have rented only 1
                        floor (13000 SQF) and started our operation as a 100% export
                        oriented ready made garments factory. The factory location is
                        prominent for commercial business but there was no RMG factory
                        in that area. So from the starting it was very much challenging
                        with lack of skill manpower and also to create working
                        environment in surrounding area. But we took the challenge and
                        created our motivated and skill work force to run the factory
                        over the years. Right now we covered 4 floor (52000 SQF), The
                        work force is 1100 with 500 automated modern sewing machines.
                        Our factory is equipped with centralize Compressor, CAD system,
                        Laser cutter and also we are consistently adding updated and
                        modern machines regularly with our efficient production system.
                    </p>
                    <p>
                        Right now we covered 4 floor (52000 SQF), The work force is 1100
                        with 500 automated modern sewing machines. Our factory is
                        equipped with centralize Compressor, CAD system, Laser cutter
                        and also we are consistently adding updated and modern machines
                        regularly with our efficient production system.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="ftco-section" style="padding: 2rem 0">
    <div class="container">
        <div class="row no-gutters">
            <div class="col-md-7 wrap-about pb-md-5 ftco-animate pt-5">
                <div class="pr-md-5 mr-md-5 mb-5 text-justify">
                    <p>
                        The merchandise team is now about 30 with energetic fresh people
                        has been recruited form CBIFT and many expertise senior
                        professionals were joined from few prominent company. The whole
                        supply chain along with inventory, procurement and production
                        management are ran and monitored by using award winning ERP
                        system software with the impact “state of the art”.
                    </p>
                    <p>
                        Now we are exporting 7 million garments every year to various
                        well known and reputed retailer around the globe, which include
                        Wal mart, (USA, Canada, Mexico); Sams Club USA, Mark Workwear
                        house, TJ MAX, Nord Storm etc.
                    </p>
                    <p>
                        In February 2009 we have started working with world leading
                        company ‘Wal-Mart’. The purpose to start working for Wal-Mart is
                        the step to enter the professional manufacturing of apparels
                        with innovation and passion. But to start manufacturing for
                        Wal-Mart we had to adapt with their compliance requirements
                        initially but over the time in 2011 Wal Mart announce their
                        policy to work only with non-sharing building policy along with
                        other fire safety system, which came as demand of time and
                        business. As we were committed to our business and to the
                        standard of Wal mart, we started our work to re arrange and re
                        structure our factory as per Wal mart requirement immediately.
                        Hence in next year we had rented over complete building and also
                        installed Hydrant system, latest smoke and fire detection and
                        prevention system in our factory. At that time it was very
                        costly but we had adapt with the requirements and met the
                        challenge to survive in the business.
                    </p>
                </div>
            </div>

            <div class="col-md-5 p-md-5 img img-2 ftco-animate"
                 style="
              background-image: url(https://images.unsplash.com/photo-1555529771-835f59fc5efe?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTF8fGdhcm1lbnQlMjBmYWN0b3J5fGVufDB8fDB8fA%3D%3D&w=1000&q=80);
            "></div>
        </div>
    </div>
</section>

<section class="ftco-section">
    <div class="container">
        <div class="row no-gutters">
            <div class="col-md-5 p-md-5 img img-2 ftco-animate"
                 style="
              background-image: url(https://images.theconversation.com/files/293774/original/file-20190924-54793-157i3zo.jpg?ixlib=rb-1.1.0&q=45&auto=format&w=1200&h=1200.0&fit=crop);
            "></div>
            <div class="col-md-7 wrap-about pb-md-5 ftco-animate">
                <div class="pl-md-5 ml-md-5 mb-5 pt-5 text-justify">
                    <p>
                        But after meeting the requirements for wal mart, in 2013 with
                        unfortunate events in RANA Plaza and Tazrin fashion the scenario
                        changed and we were put in to even bigger challenge to meet
                        higher standard and also we faced immense challenge for our
                        business survival with the formation of Accord and Alliance.
                    </p>
                    <p>
                        There was various challenge in the initial stage for the Accord
                        and Alliance remediation and rectification work, as there was no
                        such work carried out in Bangladesh and also not in that scale.
                        We had to do complete make over and re structure RDM in every
                        aspect possible. We had to do retrofitting work for whole
                        building structurally and also had to do complete re arrangement
                        of our electrical and fire safety system of the factory. It was
                        a great challenge, more over it was question of survival for us.
                        But with the motivated and dedicated team of Compliance and HR
                        dept we took the challenge to complete these requirements and
                        meet the Benchmark set by Buyers. This was not an easy way out
                        for us, It was challenging for us to complete these work in
                        running factory maintaining safety for all the worker but also
                        to complete all the work in stipulated time frame. On top of
                        that it was a matter of huge investment from the management, But
                        management took the challenge and completed the required work
                        within the timeframe from Alliance and Accord.
                    </p>

                    <p>
                        On 3rd December 2017 we have successfully achieved 100%
                        completion certificate from Alliance and also currently RDM
                        Apparels LTD is certified with Wal-Mart Green approval for
                        ethical standard Over the years we have taken all the challenge
                        to meet the standard, break the barriers and set up new
                        Benchmark, we have done it, we will continue to do it, But it
                        would have not been possible by us if Wal Mart did not provide
                        continuous support with running orders and also continuous
                        support from their vigilant and dedicated on ground staff, They
                        stood by us with open arms to embrace all the challenge side by
                        side.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>


@section Scripts{

    <script type="text/javascript">
        $(document).ready(function () {
            $("#resource-menu-big-screen").addClass("active");
            $("#resource-menu-small-screen").addClass("active");
        });</script>

}