@page
@using myportfolio.Helpers
@model myportfolio.Pages.Admin.Category.CreateModel

@{
    ViewData["Title"] = "Product Category | Create";
    var businessType = BusinessType.BusinessTypeList();
}


<div class="content-wrapper">
    <section class="content pt-3">
        <div class="container-fluid">
            <div class="row justify-content-center">
                <div class="col-md-12">
                    <!-- general form elements -->
                    <div class="card card-info">
                        <div class="card-header">
                            <h3 class="card-title">Product Category</h3>
                        </div>
                        <form method="post">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-md-6">

                                        <div class="form-group">
                                            <input asp-for="Category.Key" value="@Guid.NewGuid()" style="display: none" />

                                            <label asp-for="Category.BusinessType">Business Type<span class="text-danger">*</span></label>
                                            <select asp-for="Category.BusinessType" required class="form-control">
                                                <option value="">Select Business Type</option>
                                                @foreach (var item in businessType)
                                                {
                                                    <option value="@item">@item</option>
                                                }
                                            </select>
                                            <span asp-validation-for="Category.BusinessType" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label asp-for="Category.Title">
                                                Category Title
                                                <span class="text-danger">*</span>
                                            </label>
                                            <input asp-for="Category.Title" type="text" class="form-control" placeholder="Enter Category Title" />
                                            <span asp-validation-for="Category.Title" class="text-danger"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="card-footer">
                                <a class="btn btn-outline-info" asp-page="/Admin/Category/Index">Back</a>
                                <button type="submit" class="btn btn-info float-right">Save</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- /.content -->
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}



    <script type="text/javascript">
        $(document).ready(function () {
            $("#menu-category").addClass("active-custom");
            $("#menu-product-services").addClass("menu-open");



        });</script>



}



