@page
@model myportfolio.Pages.Admin.Service.EditModel
@using myportfolio.Helpers

@{
    ViewData["Title"] = "Service | Edit";
    var businessType = BusinessType.BusinessTypeList();
}

<link href="~/css/imageUpload.css" rel="stylesheet" />


<div class="content-wrapper">
    <section class="content pt-3">
        <div class="container-fluid">
            <div class="row justify-content-center">
                <div class="col-md-12">
                    <!-- general form elements -->
                    <div class="card card-info">
                        <div class="card-header">
                            <h3 class="card-title">Service</h3>
                        </div>
                        <form method="post" enctype="multipart/form-data">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <input type="hidden" asp-for="RequestCategory.Id" />
                            <input type="hidden" asp-for="RequestCategory.Key" />
                            <input type="hidden" asp-for="RequestCategory.CreatedAt" />
                            <input type="hidden" asp-for="RequestCategory.CreatedBy" />
                            <input type="hidden" asp-for="RequestCategory.FilePath" id="filePath" />
                            <input type="hidden" asp-for="RequestCategory.FileType" />



                            <div class="card-body">
                                <div class="row">
                                    <div class="col-md-6">
                                        @*<div class="row">
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    <label asp-for="RequestCategory.BusinessType">Business Type<span class="text-danger">*</span></label>
                                                    <select asp-for="RequestCategory.BusinessType" id="businessType" required class="form-control">
                                                        <option value="">Select Business Type</option>
                                                        @foreach (var item in businessType)
                                                        {
                                                            <option value="@item">@item</option>
                                                        }
                                                    </select>
                                                    <span asp-validation-for="RequestCategory.BusinessType" class="text-danger"></span>
                                                </div>
                                            </div>
                                        </div>*@




                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    <label asp-for="RequestCategory.Title">
                                                        Title
                                                        <span class="text-danger">*</span>
                                                    </label>
                                                    <input asp-for="RequestCategory.Title" type="text" required class="form-control" placeholder="Enter Name" />
                                                    <span asp-validation-for="RequestCategory.Title" class="text-danger"></span>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    <label asp-for="RequestCategory.Description">
                                                        Description
                                                    </label>
                                                    <textarea asp-for="RequestCategory.Description" type="text" class="form-control" placeholder="Enter Description"></textarea>
                                                    <span asp-validation-for="RequestCategory.Description" class="text-danger"></span>
                                                </div>
                                            </div>
                                        </div>

                                    </div>

                                    <div class="col-md-6 mb-5">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="form-group">

                                                    <div class="container">
                                                        <p style="color: red; font-size: 20px;">** Please use 1920x1080 image for better view.</p>
                                                        <div class="wrapper-two">
                                                            <div class="image">
                                                            </div>
                                                            <div class="content">
                                                                <div class="icon">
                                                                    <i class="fas fa-cloud-upload-alt"></i>
                                                                </div>
                                                                <div class="text">
                                                                    No file chosen, yet!
                                                                </div>
                                                            </div>
                                                            <div id="cancel-btn">
                                                                <i class="fas fa-times"></i>
                                                            </div>
                                                            <div class="file-name">
                                                                File name here
                                                            </div>
                                                        </div>
                                                        <button type="button" onclick="defaultBtnActive()" id="custom-choose-file-btn">Choose a file</button>
                                                        <input id="default-btn" type="file" asp-for="RequestCategory.File" style="opacity: 0;">
                                                    </div>
                                                    <br />
                                                    <span asp-validation-for="RequestCategory.File" class="text-danger"></span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>




                            <div class="card-footer">
                                <a class="btn btn-outline-info" asp-page="/Admin/Service/Index">Back</a>
                                <button type="submit" class="btn btn-info float-right">Save</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- /.content -->
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script src="~/js/imageUpload.js"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            $("#menu-service").addClass("active-custom");
            $("#menu-product-services").addClass("menu-open");

            $("#businessType").change(function (e) {


                $("#categoryId").empty();
                var items = '';

                $.ajax({
                    url: 'Edit?handler=Category',
                    data: {
                        businessType: e.target.value
                    }
                })
                    .done(function (result) {
                        $.each(result,
                            function (i, item) {
                                if (item.id === 0) {
                                    items += "<option value=''>" + item.title + "</option>";

                                } else {
                                    items += "<option value='" + item.id + "'>" + item.title + "</option>";

                                }
                            });

                        $("#categoryId").html(items);
                    });
            });


        });</script>
}
